<section class="produtos-container">
    <h2>Produtos Monitorados</h2>

    <table class="produtos-table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Pagamento</th>
                <th>Valor Total</th>
                <th>Parcelas</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.forma_de_pagamento }}</td>
                <td>R$ {{ produto.valor_total }}</td>
                <td>{{ produto.parcelamento }}x</td>
                <td>
                    <a href="{{ produto.link_produto }}" target="_blank">
                        Ver produto
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="empty">
                    Nenhum produto cadastrado
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
