{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/produtos_estilos.css' %}">
    <link rel="" href="{% static 'css/estilos.css' %}">
    <script type="module" src="app.js"></script>

</head>
<body>
    <table>
        <thead>
            <tr>
                <th> ID do Produto </th>
                <th> Nome do Produto </th>
                <th> Forma de Pagamento</th>
                <th> Valor Total </th>
                <th> Parcelamento </th>
                <th> Link do Produto </th>
            </tr>
        </thead>
        <tbody style="text-align: center">

        {% for prod in produtos %}
            <tr>
                <td>{{ prod.id }}</td>
                <td>{{ prod.nome }}</td>
                <td>{{ prod.forma_de_pagamento }}</td>
                <td>{{ prod.valor_total }}</td>
                <td>{{ prod.parcelamento }}</td>
                <td><a href="{{ prod.link_produto }}" >Link</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Nenhum produto cadastrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>